#loader {
  bottom: 0;
  height: 244px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.spinner-message {
  text-align: center;
  font-family: 'Maersk_Text';
  font-size: 24px;
}
